---
extends: default

rules:
  line-length:
    max: 200
    level: warning
  truthy:
    level: warning
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: whatever
  document-start: disable
  comments-indentation: false
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
